{% extends 'base.html' %}

{% block title %}Cards{% endblock %}

{% block js %}
<script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<div class="grid">
  <!-- Mount Balloonicorn's card on to this element. -->
  <div id="root"></div>

  <!-- Mount Float's card on to this element.
  <!-- <div id="float"></div> -->

  <!-- Mount Llambda's card on to this element. -->
  <!-- <div id="llambda"></div> -->

  <!-- Mount Moonie's card on to this element-->
  <!-- <div id="moonie"></div> -->

  <!-- Mount Sauce's card on to this element-->
  <!-- <div id="sauce"></div> -->
</div>

{% endblock %}